*{
    margin: 0;
    border: 0;
    padding: 0;
}

.profile_menu{
    height: 100vh;
    background: url(Декор.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prof_img{
    position: absolute;
    width: 181.89px;
    height: 115px;
    margin-top: 57px;
    margin-left: 94px;
}

.prof_icon{
    position: absolute;
    width: 67.96px;
    height: 68px;
    margin-top: 52px;
    margin-left: 1165px;
}

.prof_name_box{
    position: absolute;
    width: 124.92px;
    height: 29px;
    margin-left: 1248px;
    margin-top: 72px;
}

.prof_name{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #004A8F;
}

.prof_link_box{
    position: absolute;
    margin-top: 72px;
    margin-left: 1427px;
}

.prof_link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #E05A00;
}

.prof_btn{
    position: absolute;
    width: 351.78px;
    height: 68px;
    margin-top: 416px;
    margin-left: 623px;
    background: #E05A00;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}